/* Fondo negro y centrado del juego */
/*Habia varios errores de sintaxis en el codigo como falta ; */
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del juego */
#juego{
    border: 3px solid white;

    /* hace que se adapte a pantallas pequeñas */
    max-width: 100vw;
    max-height: 100vh;
}

/* Canvas del juego */
canvas {
    display: block;
    margin: auto;

    /* evita que se salga de la pantalla */
    max-width: 100%;
    height: auto;
}


